.background {
    background-image: url('./Fondo_Publicaciones.avif');
}

.logo-img {
    width: 70px; /* Ajusta el tamaño según lo que necesites */
    height: 70px; /* Asegúrate de que sea igual al ancho para mantener la forma circular */
    border-radius: 80%; /* Hace que la imagen sea redonda */
    object-fit: cover; /* Asegura que la imagen se ajuste correctamente dentro del contenedor */
}